.expand {
  display: grid;
  justify-content: flex-end;
  padding-right: 1.4rem;
  position: absolute;
  width: 100%;

  background: linear-gradient(
    90deg,
    rgba(243, 231, 201) 0%,
    rgba(16, 31, 31, 1) 700%
  );
}

.expand a {
  display: grid;
  justify-content: end;
}
