@import "./scss/variables.scss";

/* Modern Reset */

/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
  color: $green;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.adding-height {
  min-height: 70vh;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.height {
  height: 65vh;
}

.home {
  height: 95vh;
  position: relative;
  width: 100%;
}

header {
  max-height: 250px;
  padding: 1rem 0 1rem 0;
}

//Fonts and sizes

h1 {
  line-height: 3.5rem;
  font-size: 3.5rem;
  text-shadow: 2px 1.5px $green;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

.b-font {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-shadow: 0.4px 0.4px $pink;
}

.m-font {
  font-size: 2rem;
  font-weight: lighter;
  text-shadow: 2px 2px $green;
}

.s-font {
  font-size: 1.05rem;
}

//Styling
.justify-center {
  display: grid;
  justify-items: center;
}
.align-center {
  display: grid;
  align-items: center;
}

.justify-content {
  display: grid;
  justify-content: center;
}

.box-shadow {
  border: solid #bdbdbd 1px;
  box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  -webkit-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  -moz-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
}

//Frames
.icon-frame {
  max-width: 35px;
}

.icon-frame-two {
  width: 35px;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.icon-frame-two:hover {
  width: 43px;
  padding-bottom: 0;
}

.icon-frame-three:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 50%;
  padding-bottom: 0;
}
.frame-works {
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.frame-gif {
  max-width: 400px;
  border-radius: 10px;
}

.tech-frame {
  max-width: 200px;
}

.profile-frame {
  width: 250px;
}

.frame-video {
  width: 460px;
}

//Padding
.lateral-padding {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}
.padding-top-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-left {
  padding-left: 2rem;
}

.padding-right-left,
.padding-right-left-two {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-top {
  padding-top: 0.4rem;
}

.padding-top-m {
  padding-top: 3.5rem;
}

.home,
header {
  background: linear-gradient(
    90deg,
    rgba(243, 231, 201) 0%,
    rgba(16, 31, 31, 1) 700%
  );
}

// Grids Flex

// .flex-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   gap: 2.5rem;
//   padding-right: 1rem;
// }

.flex-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.left {
  grid-area: a;
}
.right {
  grid-area: b;
}

.profile-frame {
  grid-area: pr;
  background-color: $green;
  padding-top: 1rem;
  width: 280px;
}
.about-frame {
  grid-area: ab;
  background-color: $beige;
  height: 170px;
  width: 220px;
}

.second-frame {
  background-color: rgb(80, 15, 80);
  height: 260px;
  width: 280px;
}

.invite-frame {
  grid-area: in;
  background-color: #96c5f7;
  height: 280px;
  width: 480px;
}

.grid-template {
  display: grid;
  grid-template:
    ". .   pr pr"
    "ab ab pr pr"
    "ab ab pr pr"
    ". in  in in"
    ". in  in in";
  gap: 0.5rem;
}

// Animation
span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

// Media queries
//For small screens
@media screen and (max-width: 768px) {
  .expanded-screen,
  .no-display-ss {
    display: none;
  }

  .frame-video {
    width: 330px;
  }
  .frame-works {
    max-width: 350px;
    overflow: hidden;
    border-radius: 10px;
  }

  .box-shadow {
    border: solid #bdbdbd 1px;
    box-shadow: 1px -17px 1px rgba(239, 145, 175, 0.5);
    -webkit-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
    -moz-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  }

  .left,
  .right {
    display: grid;
    justify-content: center;
  }
  .responsive-grid-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5rem;
  }

  .box-size {
    max-width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50%;
  }

  .align {
    display: flex;
    justify-content: center;
  }

  .profile-frame {
    background-color: $green;
    padding-top: 0.2rem;
  }
  .about-frame {
    height: 200px;
    width: 145px;
  }

  .second-frame {
    height: 300px;
    width: 190px;
  }

  .invite-frame {
    height: 160px;
    width: 350px;
  }
}

//For big screens
@media screen and (min-width: 768px) {
  .small-screen,
  .no-display-bs {
    display: none;
  }

  h1 {
    font-size: 5.5rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  .b-font {
    font-size: 2.3em;
    line-height: 2.5rem;
  }

  .padding-left {
    padding-left: 10rem;
  }

  .padding-right-left {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .padding-right-left-two {
    padding-left: 2.5rem;
    padding-right: 3rem;
  }
  .two-c-grid {
    display: grid;
    grid-template: "a b";
    gap: 5rem;
  }

  .icon-frame,
  .icon-frame-two {
    max-width: 45px;
  }

  .flex-end {
    display: grid;
    justify-content: flex-end;
  }

  .line-bottom {
    padding: 5rem 1rem 4rem 1rem;
    border-bottom: 3px double $green;
  }

  .responsive-grid-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.8rem;
  }

  .box-size {
    max-width: 900px;
    max-height: 900px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50%;
  }
}

//Gradient effect
/* Setting fade transition and default settings */
main {
  color: #000;
  background-color: white;
  transition: background-color 3s ease;
}

//Animations

h2 {
  color: rgba(255, 255, 255, 0.2);
  background-image: url("https://images.unsplash.com/photo-1529641484336-ef35148bab06?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55a1e60cd6799d5761c7ec40c4954569&auto=format&fit=crop&w=500&q=60");
  /*   background-position: center; */
  background-size: 270px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: left 0px top 0px;
  }
  40% {
    background-position: left 800px top 0px;
  }
}

/* Colours */

p {
  color: $green;
}

.color-white {
  background-color: #fafafa;
}
.color-baby-green {
  background-color: rgb(245, 223, 225);
}
.color-green {
  background-color: rgb(253, 216, 228);
}

.pink {
  color: $pink;
}
.black {
  color: $black;
}
.white-c {
  color: $white;
}
.green-c {
  color: $green;
  text-shadow: 0.1px 0.1px $pink;
}
.beige {
  color: $beige;
}

/// animation to try later
.eff-muv {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 5%;
    width: 90%;
  }
}
