/* Modern Reset */
/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

h1 {
  line-height: 4rem;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.adding-height {
  min-height: 70vh;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  max-height: 250px;
  padding: 1rem 0 1rem 0;
}

.lateral-padding {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.padding-top-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-left {
  padding-left: 2rem;
}

.padding-right-left {
  padding-left: 2rem;
  padding-right: 2rem;
}

.justify-center {
  display: grid;
  justify-items: center;
}

.align-center {
  display: grid;
  align-items: center;
}

.home {
  height: 95vh;
}

.icon-frame {
  max-width: 35px;
}

.icon-frame-two {
  max-width: 30px;
}

.frame-works {
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.pink {
  color: #ee91af;
}

.black {
  color: #10161f;
}

.white {
  color: #ffffff;
}

.green {
  color: #315442;
}

.beige {
  color: #f3e7c9;
}

.bg-beige {
  background-color: #315442;
}

.home,
header {
  background: #f3e7c9;
  background: linear-gradient(90deg, #f3e7c9 0%, #101f1f 700%);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2.5rem;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.left {
  grid-area: a;
}

.right {
  grid-area: b;
}

.b-font {
  font-size: 3em;
}

.m-font {
  font-size: 1rem;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .expanded-screen,
.description {
    display: none;
  }

  .frame-works {
    max-width: 200px;
    overflow: hidden;
    border-radius: 10px;
  }

  .box-shadow {
    border: solid #bdbdbd 1px;
    box-shadow: 1px -17px 1px rgba(239, 145, 175, 0.5);
    -webkit-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
    -moz-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  }

  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .small-screen {
    display: none;
  }

  .b-font {
    font-size: 5em;
  }

  .m-font {
    font-size: 2.5rem;
  }

  .padding-left {
    padding-left: 10rem;
  }

  .padding-right-left {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  h1 {
    line-height: 6rem;
  }

  .two-c-grid {
    display: grid;
    grid-template: "a b";
    gap: 5rem;
  }

  .icon-frame,
.icon-frame-two {
    max-width: 45px;
  }
}
/* Setting fade transition and default settings */
footer {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 2s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #ffffff;
}

.color-indigo {
  background-color: #ee91af;
}

.color-blue {
  background-color: #2f8fed;
}

.color-green {
  background-color: #4dcf42;
}

.color-yellow {
  background-color: #faeb33;
}

.color-orange {
  background-color: #f19031;
}

.color-red {
  background-color: #f2293a;
}

.box-shadow {
  border: solid #bdbdbd 1px;
  box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  -webkit-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
  -moz-box-shadow: 12px -17px 1px rgba(239, 145, 175, 0.5);
}